html, body {
  scroll-behavior: smooth;
}

#root, .App {
  overflow: hidden;
}

#header .fixedmenu {
    min-height: 100px;
}

.shop-header {
    background: url(/assets/images/background_products.jpeg) no-repeat;
}